<div class="container">
<div class="row">
<div class="col-5 col-md-3"></div>


<div class="col-7 col-md-5">
<div class="ots_btn"> 

  <div class="layer1">
    <h1>Зарегистрироваться</h1><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      

      
      <div class="mb-3">
      <div class="layer1"> 
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email', for: 'exampleDropdownFormEmail2', class: 'form-label form-control w-60 p-2' %>
      </div>
      </div>

      <div class="mb-3">
      <div class="layer1">
        <%= f.text_field :username, autocomplete: "username", placeholder: 'имя', for: 'exampleDropdownFormEmail2', class: 'form-label form-control w-60 p-2' %>
      </div>
      </div>

      <div class="mb-3">
      <div class="layer1"> 
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'новый пороль (минимум 6 символов)', for: 'exampleDropdownFormEmail2', class: 'form-label form-control w-60 p-2' %>
      </div>
      </div>

      <div class="mb-3">
      <div class="layer1"> 
        <%=f.password_field :password_confirmation, autocomplete: "new-password", autocomplete: "email", placeholder: 'повтор пороля', for: 'exampleDropdownFormEmail2', class: 'form-label form-control w-60 p-2' %>
      </div>
      </div>

       <div class="actions ot"> 
        <button type="button f.submit" class="btn btn-warning btn-lg ">Зарегистрироваться</button><br>
      </div>

      <div class="actions ot"> 
         <a><%= link_to "Войти", user_session_path, class: "a" %></a>
      </div>


    <% end %>


</div>

    
<div class="col-5 col-md-3"></div>
</div>
