
<div class="container">
<div class="row">
<div class="col-5 col-md-3"></div>


<div class="col-7 col-md-5">
<div class="ots_btn">	

	<div class="layer1">
<h1> <%= t('contacts.contact_us') %> </h1>
	</div>
<%= form_for :contact, url: contacts_path do |f| %>
<% if @contact && @contact.errors.any? %>
  <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %><br/>
	

<div class="mb-3">
<div class="layer1"> 
    <%= f.text_field :email, placeholder: 'email', for: 'exampleDropdownFormEmail2', class: 'form-label form-control w-60 p-2' %>
</div>
</div> 	

<div class="mb-3"> 
<div class="layer1"> 
    <%= f.text_field :message, placeholder: 'сообщение', for: 'exampleDropdownFormEmail2', class: 'form-label form-control w-60 p-2' %>
</div> 
</div>

	<p>
	<button type="button f.submit" class="btn btn-warning btn-lg">Отправить</button>
	</p>
	
<% end %>

</div>

    
<div class="col-5 col-md-3"></div>
</div>

</div>
