<!DOCTYPE html>
<html>
  <head>
   
   <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
   <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    

    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="p-1 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none ">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0  ">
          
          <h1 class="d-flex align-items-center fs-4 text-white mb-0">
           <li><%= link_to "Blog", home_index_path, class: "nav-link px-3 text-white layer1" %></li>
          </h1>
          
          
          <li><%= link_to "Создать статью", new_article_path, class: "nav-link px-3 text-white layer1 " %></li></h5>
          <li><%= link_to "Показать все статьи", articles_path, class: "nav-link px-3 text-white layer1" %></li>
          <li><%= link_to "Сообщить нам", contacts_path, class: "nav-link px-3 text-white layer1" %></li>
        
        </ul>


        <div class="text-end">
         <p>  
        <% if user_signed_in? %>
          <%= link_to "Выйти", destroy_user_session_path, method: :delete, type: "button", class: "btn btn-warning btn-lg me-2 ots_btn layer1" %>
        <% else %>
          <%= link_to "Войти", new_user_session_path, type: "button", class: "btn btn-warning btn-lg me-2 ots_btn layer1"  %>
        <% end %>  
       </p>
        </div>
      </div>
    </div>
  </header>          
       

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>



